---
---
$header-color: {{ site.headercolor }};

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  color: $header-color;
}

hr.small {
  border-color: $header-color;
}

.sr-only-focusable:focus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1100;
  padding: 8px 16px;
  background: $header-color;
  color: #fff;
  text-decoration: none;
}